<header>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-darker text-warning">
		<a class="navbar-brand text-warning" [routerLink]="['/']">STAR WARS</a>

		<button class="navbar-toggler"
				type="button"
				aria-controls="navbar-content"
				[attr.aria-expanded]="!isCollapsed"
				aria-label="Toggle navigation"
				(click)="toggleNavbar()">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-content" #nav [ngClass]="{'collapse': isCollapsed}">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="container-fluid py-4">
	<router-outlet></router-outlet>
</div>

<footer class="footer bg-darker container-fluid">
	<p class="text-right text-muted m-0">by <a class="text-muted" href="mailto:dfrancklin@hotmail.com">dfrancklin@hotmail.com</a></p>
</footer>
