<header>
	<app-top-nav>
		<app-item-nav [link]="['/home']">Home</app-item-nav>
		<app-item-nav [link]="['/films']">Films</app-item-nav>
		<app-item-nav [link]="['/people']">People</app-item-nav>
		<app-item-nav [link]="['/planets']">Planets</app-item-nav>
		<app-item-nav [link]="['/species']">Species</app-item-nav>
		<app-item-nav [link]="['/starships']">Starships</app-item-nav>
		<app-item-nav [link]="['/vehicles']">Vehicles</app-item-nav>
	</app-top-nav>
</header>

<div class="container-fluid py-4">
	<router-outlet></router-outlet>
</div>

<footer class="footer bg-darker container-fluid">
	<p class="text-right text-muted m-0">by <a class="text-muted" href="mailto:dfrancklin@hotmail.com">dfrancklin@hotmail.com</a></p>
</footer>
